<VirtualHost *:$miscport>
    DocumentRoot $miscdir
    <Directory "/" >
        Require all granted
        Options +Indexes +FollowSymLinks +MultiViews 
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>
    ErrorLog \${APACHE_LOG_DIR}/error.log
    CustomLog \${APACHE_LOG_DIR}/misc.log common
</VirtualHost>

<VirtualHost *:$cgiport>
    DocumentRoot $cgidir
    AddHandler cgi-script .cgi
    AddType text/html .cgi

    <Directory "/" >
        Require all granted
        Options ExecCGI FollowSymLinks
        AllowOverride None
        SetEnv PYTHONPATH $libdir
        Order allow,deny
        Allow from all
    </Directory>
    ErrorLog \${APACHE_LOG_DIR}/error.log
    CustomLog \${APACHE_LOG_DIR}/cgi.log  common
</VirtualHost>

<VirtualHost *:$webport>
    WSGIDaemonProcess lptweb user=$wwwuser group=$wwwgrp threads=5 python-path=$webdir
    WSGIScriptAlias / $webdir/setup.wsgi
    DocumentRoot $webdir
    <Directory "/">
        Require all granted
        WSGIProcessGroup lptweb
        WSGIApplicationGroup %{GLOBAL}
    </Directory>
    ErrorLog \${APACHE_LOG_DIR}/error.log
    CustomLog \${APACHE_LOG_DIR}/web.log  common
</VirtualHost>
